@using PagedList.Mvc;
@model PagedList.PagedList<Web_banh_ngot.Models.Entities.TYPE_PRODUCT>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Loại bánh</h2>
<p>
    <button onclick="location.href='@Url.Action("Create", "Type_Product")';return false;">Tạo mới</button>
</p>
<
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Mã loại bánh</th>
                    <th>Tên loại bánh</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID_TYPE</td>
                        <td>@item.NAME_TYPE</td>

                        <td>
                            <button onclick="location.href='@Url.Action("Edit", "Type_Product", new { id=@item.ID_TYPE })';return false;">Chỉnh sửa</button>
                            <button onclick="location.href='@Url.Action("Delete", "Type_Product", new { id=@item.ID_TYPE })';return false;">Xóa</button>
                        </td>
                    </tr>
                }
            </table>
        </div>
   


<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("List", new { page = page }))
</div>

